# dependencies
node_modules/

# next.js output
.next/
out/

# env & local settings
.env
.env.*
!.env.example
!.env.local.example

# logs, caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
eslintcache
.cache/
coverage/
dist/
build/
turbo/
.vercel/
.DS_Store
